* {
  box-sizing: border-box;
  margin: 0; }

body {
  background-color: #333;
  font-family: 'Sanchez', serif; }

p {
  font-family: 'Sanchez', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif; }
