.card-container {
	display: flex;
	flex-wrap: wrap;
	width: 1600px;
	margin: auto;
}

.login-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media screen and (max-width: 1599px) {
	.card-container {
		width: 1280px;
	}
}

@media screen and (max-width: 1279px) {
	.card-container {
		width: 960px;
	}
}

@media screen and (max-width: 959px) {
	.card-container {
		width: 640px;
	}
}

@media screen and (max-width: 639px) {
	.card-container {
		width: 320px;
	}
}

