.header {
	background-color: grey;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 10px;

	h1 {
		color: #fff;
	}

	.login, .signup {
		position: absolute;
		right: 20px;
	}

	.login {
		top: 20px;
	}

	.signup {
		top: 40px;
	}

	.nav-link {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}

	.nav-link:hover{
		color: #1fffff;
	}

	.login-message {
		color: #1fffff;
	}


}



@media screen and (max-width: 400px) {
	.header {
		height: 100px;

		h1 {
			width: 200px;
			text-align: center;
		}
	}
}