.header {
  background-color: rgba(255, 255, 255, 0.1);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px; }
  .header h1 {
    color: #aaa;
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 34px; }
    .header h1 span {
      color: #fff; }
  .header a {
    text-decoration: none; }
  .header button {
    position: absolute;
    left: 20px;
    top: 21px;
    height: 33px;
    border: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: #888;
    font-size: 15px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color .2s ease-in-out;
    outline: none; }
  .header button:hover {
    background-color: #1fffff;
    transition: background-color .6s ease-in-out; }
  .header .login, .header .signup {
    position: absolute;
    right: 20px; }
  .header .login {
    top: 20px; }
  .header .signup {
    top: 40px; }
  .header .nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
  .header .nav-link:hover {
    color: #1fffff; }
  .header .login-message {
    color: #1fffff; }

@media screen and (max-width: 690px) {
  .header {
    display: flex;
    flex-direction: column;
    height: unset;
    padding: 20px 0;
    text-align: center; }
    .header button, .header .login, .header .signup {
      position: static; }
    .header .header-box {
      display: flex;
      align-content: center;
      justify-content: space-around;
      flex-direction: column;
      height: 90px; } }

@media screen and (max-width: 400px) {
  .header h1 {
    text-align: center;
    font-size: 24px; } }
